
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 220px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  border-bottom: 3px solid black;
}

.container .heading h3 span {
  font-weight: 100;
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:start;   
}

.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 3px white solid;
}
